@charset "utf-8";
/* CSS Document */
.sum{width: 1100px;height: 2400px; margin:10px auto;background: #F3FF00;}


.top{width: 1100px;height: 272px;}
#top1{width: 1100px;height:222px;float: left;}

#top2{width: 1100px;height: 40px;float: left;}


#menu2{
		width:1100px;
		height: 40px;		
		float: left;
		margin: 0px auto;
	background: #FB4346;
	font-size: 25px;
	}
 ul{
        margin: 0;
        padding: 0;
        padding-top: 14px;
        list-style: none;
        background-color: orange;
    }
    li{
        width: 153px;
        text-align: center; 
    }
    .menu > ul{
		
        height: 40px;
    }
    .menu > ul > li{
        display: inline-block;
        border-right: 1px solid #dddddd;
        position: relative;
    }
	.menu > ul > li > a{
        text-decoration: none;display:block; 
    }
    .menu > ul > li > ul {
        display: none;
        position: absolute;
        top: 31px;
    }
    .menu > ul > li > ul li{
        padding: 5px 0;
        border-bottom: 1px solid #dddddd;
    }
	 .menu > ul > li > ul li a{
        text-decoration: none;display:block; 
    }
    ul li:last-child{
        border: none;
    }
    .menu ul li:hover ul{
        display: block;
    }
  

.clr{clear: both;}
.center{width: 1100px;height: auto;float: left;}
#center1{width: 1100px;height:414px;}
#nut{width: 1100px; position: absolute;
        top: 600px;left:   420px;}
#nut img:hover{opacity: .6;
	transition: 100ms;
	transform: scale(1);}
#center2{width:1100px;height: 450px; padding: 30px 300px;}

#center2 img{width: 300px;height: 200px;}
#center2 img:hover{transform: scale(1.1);opacity: 0.8;
	transition: 0.5ms;
	}



#center3{width: 1100px;height:550px; float: left;font-size: 40px;text-align: center;}
#center3 p{color: #323232;}
#center3 a{text-decoration: none;}
#center3 img{width: 200px;height: 350px;}
#center3 img:hover{transform: scale(1.1);opacity: 1.0;
	transition: 0.5ms;
	}

#center4{width: 1100px;height:550px; float: left;font-size: 40px;text-align: center;}
#center4 p{color: #323232;}
#center4 a{text-decoration: none;}
#center4 img{width: 200px;height: 350px;}
#center4 img:hover{transform: scale(1.1);opacity: 1.0;
	transition: 0.5ms;
	}
#center5{width: 1100px;height:550px; float: left;font-size: 40px;text-align: center;}
#center5 img{width: 1100px;height:550px; float: left;font-size: 40px;text-align: center;}
#center6 {width: 1100px;height:550px; float: left;font-size: 40px;text-align: center;}
#center6_left {width:500px;height:350px; float: left;font-size: 20px;text-align: center;}
#center6_left p{font-size: 20px;}
#center6_right {width:600px;height:350px; float: left;font-size: 40px;text-align: center;}

#center7{width: 1100px;height:315px; float: left;font-size: 40px;text-align: center;}

.bottom{width: 1100px;height:550px; float: left;}
